
button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

#no {
  position: absolute;
}

#fullscreen-img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  object-fit: cover;
  z-index: 999;
}
