*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetic;
}

:root{
    --gray: #d1d9e0b3;
    --font-color: #59636e;
}

body{

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black
}

.__container{
    max-width: 1248px;
    margin: 0 auto;
}

.fill{
    background-color: #000;
}

.button{
    padding: 16px 24px;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 16px 32px;
    position: relative;
}

.header__side{
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon{
    height: 32px;
    width: 32px;
}

.header__icon{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__list{
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
}

.header__item{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.header__arrow{
    height: 8px;
    width: 8px;
    display: block;
    position: relative;
    border-bottom: 2px solid #1f2328;
    border-left: 2px solid #1f2328;
    opacity: 0.5;
    transform: rotateZ(-45deg);
}

.header__btn{
    height: 32px;
}


.search{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 32px;

}

.search__control{
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0 8px;
    background-color: transparent;
}

.search__icon{
    height: 16px;
    width: 16px;
}

.search__icon img{
    width: 100%;
    height: 100%;
}

.search input{
    border: none;
    outline: none;
}

.search__input{
    width: 252px;
}

.search__btn{
    height: 20px;
    width: 20px;
    text-align: center;
}

.line{
    height: 28px;
    background-color: var(--gray);
    width: 1px;
}

.header__side-burger{
    display: none;
}
.burger{
    position: relative;
    height: 22px;
    width: 22px;
}

.burger span, .burger::after, .burger::before{
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: #000;
    display: block;
    content: '';
}

.burger span{
    top: 50%;
    transform: translateY(-50%);
}
.burger::before{
    top: 5px
}

.burger::after{
    bottom: 5px;
}

@media (max-width: 1280px){
    .header__search .search__input{
            display: none;
    }
    .header__search .search__btn{
        display: none;
    }
}

@media (max-width: 1000px){
    .header__nav{
        display: none;
    }
    .header__side-burger{
        display: block;
    }
    .header__search{
        display: none;
    }
    .line{
        display: none;
    }
    .middle-side{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

h1{
    font-size: 64px;
    font-weight: 800;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 16px 70px;
}

.main-section__h1{
    margin-bottom: 80px;
    text-align: center;
}

.main-section__p{
    margin: 0 96px 40px;
    text-align: center;
}

.active__btn{}

.pricing{
    margin-bottom: 50px;
}

.pricing__content{
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.pricing__item{
    flex: 1 1 0;
}

.pricing-item{
    position: relative;
    padding: 40px 10px 10px;
}

.pricing-item__recommend{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #0E72E7;
    display: none;
}

.pricing-item__recommend h4{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: white;
    z-index: 1;
}

.pricing-item.active .pricing-item__recommend > h4{
    display: block;
}

.pricing-item.active .pricing-item__recommend{
    display: flex;
}

.pricing-item__content{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;
    position: relative;
    z-index: 10;
    background-color: #fff;
}



.pricing-item__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 16px;
}

.pricing-item__header{
    font-size: 24px;
    margin-bottom: 10px;
}

.pricing-item__description{
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    margin-bottom: 30px;
}

.price{
    display: flex;
    position: relative;
    width: 200px;
    height: 80px;
    margin: 0 auto;

}
.price__icon{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 32px;
    color: var(--font-color);
}

.price__value{
    font-size: 72px;
    position: absolute;
    top: -20px;
    left: 20px;
}
.price__currency{
    display: flex;
    align-items: end;
    position: absolute;
    top: 15px;left: 60px;
    font-size: 40px;
}
.price__desc{
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 130px;
    color: var(--font-color);
}


.pricing-item__price{
    margin-bottom: 40px;
}

.pricing-item__price span{
    font-size: 24px;
    position: absolute;
    bottom: 10px;
}
.pricing__btn{
    width: 100%;
}

.pricing__btn.active{
    background-color: transparent;
    border: 1px solid var(--gray);
    color: #000;
}

.pricing__dropdown{
    background-color: #E7E9EA;
    height: 100%;
}

.dropDown{
    width: 100%;
    padding: 8px 16px;
}

.dropdown__item{
    display: flex;
    position: relative;
    gap: 10px;
    padding: 8px 0;
}

.dropdown__arrow{
    position: relative;
    top: 5px;
    border-bottom: 1px solid #1f2328;
    border-left: 1px solid #1f2328;
    width: 8px;
    height: 8px;
    transform: rotateZ(-135deg);
}

.dropdown__item.changed .dropdown__arrow{
    border: none;
    width: 16px;
    height: 16px;
}
.dropdown__item.changed img{
    width: 100%;
    height: 100%;
}

.dropDown h3{
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    color: var(--font-color);
}

.dropdown__item.changed h3{
    font-weight: 400;
}

.dropdown__header{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0E72E7;
    margin-top: 24px;
}

@media (max-width: 1000px){
    .pricing__content{
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }
}

.addons{

}
.addons__header{
    text-align: center;
    margin-bottom: 20px;
}

.addons__list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.addons__item{
    padding: 32px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.addons-item__icon{
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}

.addons-item__header{
    font-size: 20px;
    margin-bottom: 10px;
}

.addons-item__text{
    color: var(--font-color);
    margin-bottom: 20px;
}

.addons-item__link{
    display: flex;
    gap: 10px;
    align-items: center;
}
.addons-item__link img{
    width: 16px;
    height: 16px;
    transform: rotateZ(45deg);
}

@media (max-width: 768px){
    .addons__list{
        grid-template-columns: repeat(1, 1fr);
    }
    .addons{
        padding: 0 40px;
    }
}

.footer-links{
    text-align:center;
    margin-bottom: 50px;
    margin-top: 50px;
}